<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem Coffee</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://boolean.careers/favicon/favicon-16x16.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
        integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
        crossorigin='anonymous' />
    <!-- Main Styles -->
    <link rel=" stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <!--
            Header
         -->
        <header class="mb-5">
            <nav class="navbar bg-primary" data-bs-theme="dark">
                <div class="container">
                    <a href="/" class="navbar-brand text-uppercase fw-bold">
                        Lorem Coffee
                    </a>
                </div>
            </nav>
        </header>

        <!-- Main -->
        <main class="mb-5">
            <div class="container">
                <h1 class="mb-5 text-center">Welcome to Lorem Coffee</h1>

                <div class="row g-5">
                    <!--
                        Products List
                     -->
                    <div class="col-md-8">
                        <div class="row g-4">
                            <div v-for="(product, index) in productsList" class="col-md-6">
                                <div class="card cursor-pointer" :class="{'text-bg-primary': index === activeProduct}"
                                    @click="setActiveProduct(index)">
                                    <figure class="wrap-card-image mb-0">
                                        <img class="card-img-top object-fit-cover w-100 h-100" :src="product.image"
                                            :alt="product.title">
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="h4">{{ product.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--
                        Product Details
                     -->
                    <div class="col-md-4">
                        <div v-if="activeProduct !== null" class="position-sticky top-0">
                            <h2>Product Details</h2>
                            <hr>
                            <h3>{{ productsList[activeProduct].title }}</h3>
                            <p>{{ productsList[activeProduct].description }}</p>

                            <h4>Ingredients</h4>
                            <ul>
                                <li v-for="ingredient in productsList[activeProduct].ingredients">
                                    {{ ingredient }}
                                </li>
                            </ul>
                        </div>
                        <p v-else class="alert alert-primary text-center">
                            Click a product to see its details
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!--
        Javascript
     -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>